$bgColor: black;
$fontFamily: Roboto;
$fontFamilyTitle: sans-serif;

body {
  color: white;
}
.frontend-body {
  background: $bgColor;
}

.top-menu {
  position: absolute;
  z-index: 1;
  width: 90%;
  font-family: ui-sans-serif;
  margin: 50px;
}
.ant-col.ant-col-12.menu-title {
  text-align: right;
  font-size: 20px;
  color: white;
  font-family: ui-sans-serif;
}
.ant-col.ant-col-12.menu-logo {
  text-align: left;
  font-size: 20px;
  color: white;
  font-family: system-ui;
}
.right-corner {
  background: black;
}
p.brand_title {
  font-size: 60px;
  line-height: 121px;
  margin: 0px;
  color: white;
}
.cover-text {
  position: absolute;
  top: 50%;
  left: 30%;
  line-height: 2;
  transform: translate(-50%, -50%);
  color: white;
  padding: 30px;
}
.ant-carousel .slick-slide img {
  display: block;
  height: 700px;
  object-fit: cover;
}
a.view_more {
  border: 1px solid white;
  padding: 15px;
  border-radius: 32px;
  color: #ffffffc7;
  font-size: 12px;
  word-spacing: 10px;
  text-transform: uppercase;
}
.social_sharing {
  color: #ffffffc7;
  display: flex;
  font-size: 16px;
  position: absolute;
  bottom: 15%;
  left: 18%;
}
.social_media {
  opacity: 0;
}
.social_sharing i {
  margin-right: 10px;
}
i.fal.fa-share-alt:hover + .social_media {
  opacity: 1;
  transition: 2s;
}

/* Body  */
.about_us {
  background: black;
}
.about_us_feature_image {
  background: #090909;
}
.about_us_feature_image img.ant-image-img {
  padding: 50px;
}
.ant-col.ant-col-19.menu-title {
  background: black;
}
.about_us .about_us_title h1 {
  font-size: 40px;
  text-align: right;
}

/* Our Service */
.our_service {
  background-color: black;
  color: white;
}
.size_icon {
  font-size: 60px;
}
.ant-col-12.about_us_feature_image {
  background: #242020;
}

// ========= Trining Section ==========
.training_section {
  position: relative;
  .ant-image-img {
    width: 100%;
    height: 900px;
    // object-fit: cover;
  }
}
.training {
  position: absolute;
  top: 0;
  height: 900px;
  .description-training {
    height: 900px;
    background: #000000b8;
    .how_we {
      margin-top: 50%;
    }
  }
}

// Footer
.outline-social {
  border: 1px solid #645c5c;
  padding: 10px 12px;
  border-radius: 16px;
  cursor: pointer;
}

.portfolio_img .ant-image-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}
.portfolio_item {
  .overlay {
    background-color: #00000059;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
  }
  .portfolio_title {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
}
