@import "antd/dist/antd.css";
//Variable
$bgColor: black;
$fontFamily: Roboto;
$fontFamilyTitle: lato;
$baseColor: #5492df;

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: left;
}
.margin-right {
  margin-right: 5px;
}
.logo-login {
  color: white;
  display: flex;
}
.logo h1 {
  color: white;
  font-family: math;
  font-size: 25px;
  margin: 15px 40px;
}
.logo-login h1 {
  font-family: math;
  font-size: 40px;
  margin: 41px 40px;
}
.logo img.ant-image-img {
  height: auto;
  object-fit: cover;
  margin: 10px 20px;
}
.profilePicture img.ant-image-img {
  border-radius: 32px;
  object-fit: cover;
  width: 50px;
  height: 50px;
  border: 2px solid $baseColor;
}
.profile img.ant-image-img {
  border-radius: 5px;
  border: 2px solid $baseColor;
}
.font-profile {
  font-size: 30px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.AddNew {
  margin-bottom: 25px;
}
/** @format */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.body {
  background-color: #ffffff;
}
.fonst {
  font-family: "Open Sans", sans-serif;
}
.ant-image.user img.ant-image-img {
  object-fit: contain;
}
.spin-style {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pop_menu {
  margin: 10px;
  color: black !important;
}
.ant-popover-title {
  text-align: center;
}

//Dashboard

.card {
  border: none;
  border-left: 3px solid $baseColor;
}
