.logo {
  /* height: 32px; */
  /* margin: 16px; */
  /* background: rgba(255, 255, 255, 0.3); */
}
img.ant-image-img {
  height: 60px;
  object-fit: cover;
  margin: 0px 18px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.AddNew {
  margin-bottom: 25px;
}
/** @format */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.body {
  background-color: #ffffff;
}
.fonst {
  font-family: "Open Sans", sans-serif;
}
img.ant-image-img {
  object-fit: contain;
}
