@import "antd/dist/antd.css";
.logo {
  color: white;
  display: flex;
}
.logo-login {
  color: white;
  display: flex;
}
.logo h1 {
  color: white;
  font-family: math;
  font-size: 25px;
  margin: 15px 40px;
}
.logo-login h1 {
  font-family: math;
  font-size: 40px;
  margin: 41px 40px;
}
img.ant-image-img {
  height: auto;
  object-fit: cover;
  margin: 10px 20px;
}

.site-layout .site-layout-background {
  background: #fff;
}
[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}
.AddNew {
  margin-bottom: 25px;
}
/** @format */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.body {
  background-color: #ffffff;
}
.fonst {
  font-family: "Open Sans", sans-serif;
}
.ant-image.user img.ant-image-img {
  object-fit: contain;
}
.spin-style {
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
